{
    log debug
    #auto_https off
}

# todo registry and ui registry
http://{$DOMAIN} {
    #log info
    respond 404
    #reverse_proxy http://cloudtest.lan.hot.griffinht.com:80 {
    #    header_up Host griffinht.com
    #}
}

# todo auth
http://budget.{$DOMAIN} {
    log info
    reverse_proxy actualbudget:5006
}

http://miniflux.{$DOMAIN} {
    log info
    reverse_proxy flydfsg.internal:8080
}
