{
    log debug
    #auto_https off
}

# todo registry and ui registry
https://{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    #log info
    respond 404
    #reverse_proxy http://cloudtest.lan.hot.griffinht.com:80 {
    #    header_up Host griffinht.com
    #}
}

# todo auth
https://budget.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    log info
    reverse_proxy {
        to actualbudget:5006
        health_uri /sdfghgh
    }
}

https://miniflux.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    log info
    reverse_proxy {
        to host.docker.internal:8080
        health_uri /healthcheck
        header_up x-forwarded-user griffin
    }
}

https://vaultwarden.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to vaultwarden:80
        health_uri /alive
    }
}

https://netdata.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    # https://github.com/netdata/netdata/pull/9172/files
    reverse_proxy {
        to host.docker.internal:19999
        health_uri /api/v1/info
    }
}

https://prometheus.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy prometheus:9090
    reverse_proxy {
        to grafana:3000
        health_uri /
    }
}

https://grafana.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to grafana:3000
        health_uri /api/health
    }
}

https://yacht.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to yacht:8000
        health_uri /
    }
}

https://admin.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        health_uri /dklfjghsdfg
        health_status 404

        to localhost:2019
        header_up Host localhost:2019
    }
}

https://searxng.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to searxng:8080
        health_uri /healthz
    }
}

https://redlib.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to redlib:8080
        health_uri /settings
    }
}

https://syncthing.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to syncthing:8384
        health_uri /rest/noauth/health
    }
}

https://dockge.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to dockge:5001
        health_uri /
    }
}

# tty health_uri /
# todo
https://*.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to traefik:80
        health_port 8080
        health_uri /ping
        header_up Host {http.request.host.labels.3}-{http.request.host.labels.3}
    }
}


https://traefik.{$DOMAIN} {
    tls /certificates/live/cool.griffinht.com/fullchain.pem /certificates/live/cool.griffinht.com/privkey.pem
    reverse_proxy {
        to traefik:8080
        health_uri /ping
    }
}
