# https://caddyserver.com/docs/caddyfile/options#metrics
# apparently this needs to be enabled but it doesn't...
#{
#    servers {
#        metrics
#    }
#}

:2019 {
    # https://caddyserver.com/docs/caddyfile/directives/metrics
    metrics
}

{$DOMAIN}

file_server
root * /usr/share/caddy
