# https://caddyserver.com/docs/caddyfile/options#metrics
# this part actually exports caddy related metrics
# without it caddy just reports golang garbage collection general stuff
{
    servers {
        metrics
    }
}

:2019 {
    # https://caddyserver.com/docs/caddyfile/directives/metrics
    metrics
}

{$DOMAIN}

file_server
root * /usr/share/caddy
